<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <ul>
                    <li  class="bold"><a href="">Study Abroad</a></li>
                    <li><a>How to choose your destination</a></li>
                    <li><a>Study abroad intakes</a></li>
                    <li><a>Guide for parents</a></li>
                </ul>
            </div>
            <div class="col-1">
                <li class="bold"><a href="">Useful links</a></li>
                    <li><a>IDP Blogs</a></li>
                    <li><a>Engineering Courses</a></li>
                    <li><a>Health and Medicine</a></li>
                  
            </div>
            <div class="col-1">
                <li class="bold"><a href="">IELTS</a></li>
                    <li><a>What is IELTS?</a></li>
                    <li><a>Prepare for IELTS</a></li>
                    <li><a>Book My IELTS Test</a></li>
            </div>
            <div class="col-1">
                <li class="bold"><a href="">Connect with IDP</a></li>
                    <li><a>IDP in the news</a></li>
                    <li><a>About IDP</a></li>
                    <li><a>Contact IDP</a></li>
            </div>
        </div>
    </div>
</div>


