<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="cloumn column1">
                <img src="../../../assets/images/idp-logo.svg" width="20%">
            </div>
            <div class="cloumn column2">
                <a routerLink="">Home</a>
                <a routerLink="blog">Blog</a>
                <a routerLink="add-blogs">Form</a>
                <a routerLink="profile">login</a>
                <a routerLink="prof-details" class="circle">{{userdata.fname | slice:0:1}}{{userdata.lname | slice:0:1}}</a>
            </div>
            
        </div>
    </div>
</div>

