<div class="container-fluid">
    <div class="container">
    <div class="row">
      <h1>Blog Form</h1>
        <form [formGroup]="addblogs" >
            <div class="form-group">
              <label  class="blog-form-input">Title</label><br>
              <input formControlName="title" type="text" class="form-control">
              <small *ngIf="title.invalid && title.touched" class="text-danger">Name is Required</small> 
            </div>
            <div class="form-group">
              <label class="blog-form-input">Author:</label><br>
              <input formControlName="author" type="author" class="form-control" >
              <small *ngIf="author.invalid && author.touched" class="text-danger">Author is Required</small>
            </div>
            <div class="form-group">
              <label class="blog-form-input">Content:</label><br>
              <input formControlName="content" type="text" class="form-control" > 
              <small *ngIf="title.invalid && title.touched" class="text-danger">Content is Required(minimum length 10,numbers are only allowed)</small>
                           </div>
                            <div class="form-group">
                              <label class="blog-form-input">Description:</label><br>
                              <textarea formControlName="desc" class="form-control" ></textarea>
                              <small *ngIf="desc.invalid && desc.touched" class="text-danger"> Description is Required(minimum length 10)</small> 
                            </div>
                            <div class="form-group">
                                <label class="blog-form-input">Image URL:</label><br>
                                <input formControlName="imgurl" class="form-control">
                                <small *ngIf="imgurl.invalid && imgurl.touched" class="text-danger"> ImageUrl is Required</small> 
                              </div>
                              <div class="form-group">
                                <label class="blog-form-input">Published At</label><br>
                                <input formControlName="published" class="form-control" >
                                <small *ngIf="published.invalid && published.touched" class="text-danger"> Published At is Required(minimum length 10)</small> 
                              </div>
          <button (click)="onsubmit(addblogs)"  [disabled]="addblogs.invalid" type="submit" >Add Blog</button>
                          
                          
                          </form>
                    </div>   
                  </div>
                </div>
    
