<div class="container-fluid">
    <div class="container">
        <div class="row">
          <div class="card">
            <div class="header">
              <img [src]="blog.urlToImage" *ngIf="blog.urlToImage != null else noimg"> 
              <ng-template #noimg>
                  <img src="../../../assets/images/Musk-1.jpg">
             </ng-template>
             <div class="body">
              <h2>{{blog.title}}</h2>
              <h4>{{blog.author}}</h4>
              <span>{{blog.publishedAt}}</span>
              <div>{{blog.content}}</div>
              <p>{{blog.description}}</p>
          </div>
          <div class="delete-edit">
            <button class="del" (click)="delete()">Delete</button>
          </div>
      </div>
      </div>
      </div>
      </div>
    </div>
